# Configurações do Ambiente
VITE_APP_TITLE=Insulfilm Pro
VITE_APP_DESCRIPTION=Especialistas em insulfilm automotivo de alta qualidade
VITE_APP_URL=http://localhost:3000

# Configurações de Contato
VITE_CONTACT_PHONE=(11) 99999-9999
VITE_CONTACT_EMAIL=contato@insulfilmpro.com
VITE_CONTACT_ADDRESS=Rua das Flores, 123 - Centro, São Paulo - SP

# Configurações de Redes Sociais
VITE_SOCIAL_FACEBOOK=https://facebook.com/insulfilmpro
VITE_SOCIAL_INSTAGRAM=https://instagram.com/insulfilmpro
VITE_SOCIAL_TWITTER=https://twitter.com/insulfilmpro
VITE_SOCIAL_LINKEDIN=https://linkedin.com/company/insulfilmpro
